.center {
	text-align: center;
}

h1 {
	font-family: sans-serif;
}

#sketchContainer {
	height: 400;
	width: 400;
	background-color: #D0D7D9;
	border: 5px solid black;
	margin-left: auto;
	margin-right: auto;
}

.row {
	background-color: black;
	display: inline-block;
	opacity: 0;
}

#inputBoxes {
	margin-top: 25;
	font-family: sans-serif;
}

.dimBoxes {
	width: 30;
	text-align: center;
	outline: none;
	border: none;
	background-color: #E6EBED;
	font-family: sans-serif;
}

#inputBoxes input[type=button] {
	margin-top: 5px;
}